<div class="lower-carousel">
  <div class="owl-carousel owl-theme low-owl-carou">
    <div
      class="owl-slide d-flex align-items-center cover"
      style="
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/owlcarousel1.jpg);
      "
    >
      <div class="container">
        <div class="row justify-content-center justify-content-md-start">
          <div class="col-10 col-md-6 static">
            <div class="owl-slide-text">
              <h2 class="owl-slide-animated owl-slide-title">
                The bedding was hardly able to cover it
              </h2>
              <p class="owl-slide-animated owl-slide-subtitle mb-3">
                One morning, when Gregor Samsa woke from troubled dreams, he
                found himself transformed in his bed into a horrible vermin.
              </p>
              <a
                class="owl-slide-animated owl-slide-cta"
                href="https://unsplash.com/photos/pgR4yBMjum8"
                target="_blank"
                role="button"
                >Read more</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="owl-slide d-flex align-items-center cover"
      style="
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/owlcarousel2.jpg);
      "
    >
      <div class="container">
        <div class="row justify-content-center justify-content-md-start">
          <div class="col-10 col-md-6 static">
            <div class="owl-slide-text">
              <h2 class="owl-slide-animated owl-slide-title">
                Samsa was a travelling salesman.
              </h2>
              <p class="owl-slide-animated owl-slide-subtitle mb-3">
                It showed a lady fitted out with a fur hat and fur boa who sat
                upright, raising a heavy fur muff that covered the whole of her
                lower arm towards the viewer. Gregor then turned to look out the
                window at the dull weather.
              </p>
              <a
                class="owl-slide-animated owl-slide-cta"
                href="https://unsplash.com/photos/Ijx8OxvKrgM"
                target="_blank"
                role="button"
                >Read more</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="owl-slide d-flex align-items-center cover"
      style="
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/owlcarousel3.jpg);
      "
    >
      <div class="container">
        <div class="row justify-content-center justify-content-md-start">
          <div class="col-10 col-md-6 static">
            <div class="owl-slide-text">
              <h2 class="owl-slide-animated owl-slide-title">
                A collection of textile samples.
              </h2>
              <p class="owl-slide-animated owl-slide-subtitle mb-3">
                He lay on his armour-like back, and if he lifted his head a
                little he could see his brown belly.
              </p>
              <a
                class="owl-slide-animated owl-slide-cta"
                href="https://unsplash.com/photos/7uwbhGSH5Fg"
                target="_blank"
                role="button"
                >Read more</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-carousel">
  <div class="owl-carousel main-owl-carou" id="owlCarousel">
    <div class="slide">
      <img
        class="owl-item-bg"
        src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/30LJYJGOMY.jpg"
      />
      <div class="slide-content">
        <div class="overlay"></div>
        <h3 class="post-title-sum">1Welcome</h3>
        <h2 class="post-subtitle-sum">Mea Vocibus Eloquentiam</h2>
        <p class="post-para-sum">
          erant aperiri sapientem senserit quo et. Sea aliquid interpretaris te,
          in his erant aperiri sapientem
        </p>
        <a href="" class="custom-btn main-slide-link">Read more..</a>
      </div>
    </div>
    <div class="slide">
      <img
        class="owl-item-bg"
        src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/9UX9KSL4AB.jpg"
      />
      <div class="slide-content">
        <div class="overlay"></div>
        <h3 class="post-title-sum">Welcome</h3>
        <h2 class="post-subtitle-sum">Aperiri Sapientem</h2>
        <p class="post-para-sum">
          Nam ante est, euismod id consequat eget, congue et lacus, Sed
          consequat laoreet purus.
        </p>
        <a href="" class="custom-btn main-slide-link">Read more..</a>
      </div>
    </div>
    <div class="slide">
      <img
        class="owl-item-bg"
        src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/DI64TAJTIS.jpg"
      />
      <div class="slide-content">
        <div class="overlay"></div>
        <h3 class="post-title-sum">Aliquid Interpretari</h3>
        <h2 class="post-subtitle-sum">Erant Aperiri</h2>
        <p class="post-para-sum">
          Nam ante est, euismod id consequat eget, congue et lacus. Sed
          consequat laoreet purus, efficitur semper turpis pretium vitae.
        </p>
        <a href="" class="custom-btn main-slide-link">Read more..</a>
      </div>
    </div>
    <div class="slide">
      <img
        class="owl-item-bg"
        src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/QMA508CSJ4.jpg"
      />
      <div class="slide-content">
        <div class="overlay"></div>
        <h3 class="post-title-sum">Sed finibus malesuada</h3>
        <h2 class="post-subtitle-sum">Lorem ipsum dolor sit amet</h2>
        <p class="post-para-sum">
          Sed finibus malesuada sem sed placerat. Sed id neque mattis dui
          hendrerit mattis. Etiam ultrices varius risus.
        </p>
        <a href="" class="custom-btn main-slide-link">Read more..</a>
      </div>
    </div>
    <div class="slide">
      <img
        class="owl-item-bg"
        src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/QJ82DCZS1A.jpg"
      />
      <div class="slide-content">
        <div class="overlay"></div>
        <h3 class="post-title-sum">euismod mauris pretium</h3>
        <h2 class="post-subtitle-sum">consectetur adipiscing elit</h2>
        <p class="post-para-sum">
          Nam in nulla varius, sagittis ipsum a, hendrerit nisi. Nulla aliquet
          ligula id sem eleifend, nec tempus nulla lacinia.
        </p>
        <a href="" class="custom-btn main-slide-link">Read more..</a>
      </div>
    </div>
    <div class="slide">
      <img
        class="owl-item-bg"
        src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/IWWC5CHVYK.jpg"
      />
      <div class="slide-content">
        <div class="overlay"></div>
        <h3 class="post-title-sum">tempus nulla lacinia</h3>
        <h2 class="post-subtitle-sum">consequat felis nibh</h2>
        <p class="post-para-sum">
          In blandit lorem ut ante cursus pharetra. Nulla ultrices, metus
          vehicula tristique sagittis, lectus dui fermentum quam.
        </p>
        <a href="" class="custom-btn main-slide-link">Read more..</a>
      </div>
    </div>
    <div class="slide">
      <img
        class="owl-item-bg"
        src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/5607D011AC.jpg"
      />
      <div class="slide-content">
        <div class="overlay"></div>
        <h3 class="post-title-sum">Nam consequat felis</h3>
        <h2 class="post-subtitle-sum">aliquet mi vestibulum</h2>
        <p class="post-para-sum">
          Maecenas euismod mauris pretium nibh vestibulum pellentesque. Sed
          porta malesuada viverra, Pellentesque egestas faucibus turpis.
        </p>
        <a href="" class="custom-btn main-slide-link">Read more..</a>
      </div>
    </div>
  </div>
</div>
