<%- include('../partials/header') %>
<div class="main-lay">
  <div class="cus-nav">
    <ul>
      <li class="cus-nav-list active-tab">
        <a href="/dashboard">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="nav-list-list">Home</span>
        </a>
      </li>
      <li class="cus-nav-list">
        <a href="#">
          <span class="icon">
            <ion-icon name="newspaper-outline"></ion-icon>
          </span>
          <span class="nav-list-list">Posts</span>
        </a>
      </li>
      <li class="cus-nav-list">
        <a href="/">
          <span class="icon">
            <ion-icon name="globe-outline"></ion-icon>
          </span>
          <span class="nav-list-list">Public View</span>
        </a>
      </li>
      <li class="cus-nav-list">
        <a href="#">
          <span class="icon">
            <ion-icon name="person-circle-outline"></ion-icon>
          </span>
          <span class="nav-list-list">Profile</span>
        </a>
      </li>
      <li class="cus-nav-list">
        <a href="#">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="nav-list-list">Settings</span>
        </a>
      </li>
      <li class="cus-nav-list">
        <a href="#">
          <span class="icon">
            <ion-icon name="help-outline"></ion-icon>
          </span>
          <span class="nav-list-list">Help</span>
        </a>
      </li>
      <li class="cus-nav-list">
        <a href="#">
          <span class="icon">
            <ion-icon name="information-circle-outline"></ion-icon>
          </span>
          <span class="nav-list-list">Contact</span>
        </a>
      </li>
      <li class="cus-nav-list">
        <a href="/users/logout">
          <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
          </span>
          <span class="nav-list-list">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>
  <%- body %>
</div>
<%- include('../partials/footer') %>
