<main class="section-main">
  <div class="section-1">
    <div class="head-bana">
      <a href="/">
        <i class="fas fa-rss fa-2x"> </i>
        <span class="head-text">GistMe Vlog</span>
      </a>
    </div>
    <div class="toggle-me">
      <ion-icon name="menu-outline" class="open"></ion-icon>
      <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
  </div>
  <div class="container-fluid">
    <nav
      style="
        --bs-breadcrumb-divider: url(
          &#34;data:image/svg + xml,
          %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
        );
      "
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Posts</li>
      </ol>
    </nav>
    <%- include('./partials/carousel') %>
  </div>
  <div class="container-fluid" style="padding-right: 0">
    <div class="section-2">
      <div class="">
        <h2>Recent Posts</h2>
        <div class="custom-contain">
          <div class="site-context">
            <div class="blog-posts">
              <div class="post-content">
                <div class="post-img">
                  <div>
                    <img src="/img/rand1.jpg" alt="rand1" class="img" />
                  </div>
                  <div class="post-info flex-row">
                    <span
                      ><i class="fas fa-user text-gray"></i
                      >&nbsp;&nbsp;Admin</span
                    >
                    <span
                      ><i class="fas fa-calendar-alt text-gray"></i
                      >&nbsp;&nbsp;August 08, 2021</span
                    >
                    <span>2 Comments</span>
                  </div>
                </div>
                <div class="post-title">
                  <a href="">Why should i care</a>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A
                    reiciendis dolorem suscipit et id ipsum neque sed deleniti
                    amet, exercitationem iste ad laudantium voluptatum iusto
                    molestias laboriosam excepturi, perspiciatis officiis
                    explicabo saepe, ut in ea eius! Cum corrupti accusamus
                    totam?
                  </p>
                  <a href="" class="custom-btn post-btn"
                    >Read more&nbsp;<i class="fas fa-long-arrow-alt-right"></i
                  ></a>
                </div>
              </div>
              <hr />
              <div class="post-content">
                <div class="post-img">
                  <div>
                    <img src="/img/rand2.jpg" alt="rand1" class="img" />
                  </div>
                  <div class="post-info flex-row">
                    <span
                      ><i class="fas fa-user text-gray"></i
                      >&nbsp;&nbsp;Admin</span
                    >
                    <span
                      ><i class="fas fa-calendar-alt text-gray"></i
                      >&nbsp;&nbsp;August 08, 2021</span
                    >
                    <span>2 Comments</span>
                  </div>
                </div>
                <div class="post-title">
                  <a href="">Why should i care</a>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A
                    reiciendis dolorem suscipit et id ipsum neque sed deleniti
                    amet, exercitationem iste ad laudantium voluptatum iusto
                    molestias laboriosam excepturi, perspiciatis officiis
                    explicabo saepe, ut in ea eius! Cum corrupti accusamus
                    totam?
                  </p>
                  <a href="" class="custom-btn post-btn"
                    >Read more&nbsp;<i class="fas fa-long-arrow-alt-right"></i
                  ></a>
                </div>
              </div>
              <hr />
              <div class="post-content">
                <div class="post-img">
                  <div>
                    <img src="/img/rand3.jpg" alt="rand1" class="img" />
                  </div>
                  <div class="post-info flex-row">
                    <span
                      ><i class="fas fa-user text-gray"></i
                      >&nbsp;&nbsp;Admin</span
                    >
                    <span
                      ><i class="fas fa-calendar-alt text-gray"></i
                      >&nbsp;&nbsp;August 08, 2021</span
                    >
                    <span>2 Comments</span>
                  </div>
                </div>
                <div class="post-title">
                  <a href="">Why should i care</a>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A
                    reiciendis dolorem suscipit et id ipsum neque sed deleniti
                    amet, exercitationem iste ad laudantium voluptatum iusto
                    molestias laboriosam excepturi, perspiciatis officiis
                    explicabo saepe, ut in ea eius! Cum corrupti accusamus
                    totam?
                  </p>
                  <a href="" class="custom-btn post-btn"
                    >Read more&nbsp;<i class="fas fa-long-arrow-alt-right"></i
                  ></a>
                </div>
              </div>
              <hr />
              <div class="post-content">
                <div class="post-img">
                  <div>
                    <img src="/img/rand4.jpg" alt="rand1" class="img" />
                  </div>
                  <div class="post-info flex-row">
                    <span
                      ><i class="fas fa-user text-gray"></i
                      >&nbsp;&nbsp;Admin</span
                    >
                    <span
                      ><i class="fas fa-calendar-alt text-gray"></i
                      >&nbsp;&nbsp;August 08, 2021</span
                    >
                    <span>2 Comments</span>
                  </div>
                </div>
                <div class="post-title">
                  <a href="">Why should i care</a>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A
                    reiciendis dolorem suscipit et id ipsum neque sed deleniti
                    amet, exercitationem iste ad laudantium voluptatum iusto
                    molestias laboriosam excepturi, perspiciatis officiis
                    explicabo saepe, ut in ea eius! Cum corrupti accusamus
                    totam?
                  </p>
                  <a href="" class="custom-btn post-btn"
                    >Read more&nbsp;<i class="fas fa-long-arrow-alt-right"></i
                  ></a>
                </div>
              </div>
              <div class="paginating flex-row">
                <a href=""><i class="fas fa-chevron-left"></i></a>
                <a href="" class="pages">1</a>
                <a href="" class="pages">2</a>
                <a href="" class="pages">3</a>
                <a href=""><i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <aside class="sidebar">
              <div class="category">
                <h2>Category</h2>
                <ul class="category-list">
                  <li class="list-items">
                    <a href="">Software</a>
                    <span>(08)</span>
                  </li>
                  <li class="list-items">
                    <a href="">Technology</a>
                    <span>(01)</span>
                  </li>
                  <li class="list-items">
                    <a href="">Lifestyle</a>
                    <span>(05)</span>
                  </li>
                  <li class="list-items">
                    <a href="">Shopping</a>
                    <span>(04)</span>
                  </li>
                  <li class="list-items">
                    <a href="">Food</a>
                    <span>(07)</span>
                  </li>
                </ul>
              </div>
              <div class="popular-post">
                <h2>Popular Post</h2>
                <div class="post-content">
                  <div class="post-img">
                    <div>
                      <img src="/img/rand5.jpg" alt="rand1" class="img" />
                    </div>
                    <div class="post-info flex-row">
                      <span
                        ><i class="fas fa-calendar-alt text-gray"></i
                        >&nbsp;&nbsp;August 08, 2021</span
                      >
                      <span>2 Comments</span>
                    </div>
                  </div>
                  <div class="post-title">
                    <a href="">Why should i care</a>
                  </div>
                </div>
                <div class="post-content">
                  <div class="post-img">
                    <div>
                      <img src="/img/rand5.jpg" alt="rand1" class="img" />
                    </div>
                    <div class="post-info flex-row">
                      <span
                        ><i class="fas fa-calendar-alt text-gray"></i
                        >&nbsp;&nbsp;August 08, 2021</span
                      >
                      <span>2 Comments</span>
                    </div>
                  </div>
                  <div class="post-title">
                    <a href="">Why should i care</a>
                  </div>
                </div>
                <div class="post-content">
                  <div class="post-img">
                    <div>
                      <img src="/img/rand6.jpg" alt="rand1" class="img" />
                    </div>
                    <div class="post-info flex-row">
                      <span
                        ><i class="fas fa-calendar-alt text-gray"></i
                        >&nbsp;&nbsp;August 08, 2021</span
                      >
                      <span>2 Comments</span>
                    </div>
                  </div>
                  <div class="post-title">
                    <a href="">Why should i care</a>
                  </div>
                </div>
                <div class="post-content">
                  <div class="post-img">
                    <div>
                      <img src="/img/rand7.jpg" alt="rand1" class="img" />
                    </div>
                    <div class="post-info flex-row">
                      <span
                        ><i class="fas fa-calendar-alt text-gray"></i
                        >&nbsp;&nbsp;August 08, 2021</span
                      >
                      <span>2 Comments</span>
                    </div>
                  </div>
                  <div class="post-title">
                    <a href="">Why should i care</a>
                  </div>
                </div>
                <div class="post-content">
                  <div class="post-img">
                    <div>
                      <img src="/img/rand8.jpg" alt="rand1" class="img" />
                    </div>
                    <div class="post-info flex-row">
                      <span
                        ><i class="fas fa-calendar-alt text-gray"></i
                        >&nbsp;&nbsp;August 08, 2021</span
                      >
                      <span>2 Comments</span>
                    </div>
                  </div>
                  <div class="post-title">
                    <a href="">Why should i care</a>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <h2>Newsletter</h2>
                <div class="news-form">
                  <input
                    type="text"
                    class="input-element"
                    placeholder="Email"
                  />
                  <button type="submit" class="custom-btn btn-form">
                    Subscribe
                  </button>
                </div>
              </div>
              <div class="popular-tags">
                <h2>Popular Tags</h2>
                <div class="tags">
                  <span class="tag">Software</span>
                  <span class="tag">Technology</span>
                  <span class="tag">Travel</span>
                  <span class="tag">Design</span>
                  <span class="tag">Lifestyle</span>
                  <span class="tag">Love</span>
                  <span class="tag">Projects</span>
                  <span class="tag">Programming</span>
                </div>
              </div>
            </aside>
          </div>
        </div>

        <!-- optional slide below page -->
        <div class="top-post">
          <div class="custom-contain">
            <div class="owl-carousel owl-theme top-post-list">
              <div class="top-post-content">
                <img src="/img/post1.jpeg" alt="top-post-1" />
                <div class="top-post-title">
                  <h3>London Just Food Content</h3>
                  <a href="" class="custom-btn top-post-btn">Food</a>
                  <span>2 minutes</span>
                </div>
              </div>
              <div class="top-post-content">
                <img src="/img/post2.jpeg" alt="top-post-1" />
                <div class="top-post-title">
                  <h3>London Just Food Content</h3>
                  <a href="" class="custom-btn top-post-btn">Food</a>
                  <span>2 minutes</span>
                </div>
              </div>
              <div class="top-post-content">
                <img src="/img/post3.jpeg" alt="top-post-1" />
                <div class="top-post-title">
                  <h3>London Just Food Content</h3>
                  <a href="" class="custom-btn top-post-btn">Food</a>
                  <span>2 minutes</span>
                </div>
              </div>
              <div class="top-post-content">
                <img src="/img/post4.jpeg" alt="top-post-1" />
                <div class="top-post-title">
                  <h3>London Just Food Content</h3>
                  <a href="" class="custom-btn top-post-btn">Food</a>
                  <span>2 minutes</span>
                </div>
              </div>
            </div>
            <div class="owl-navigation">
              <span class="owl-nav-prev">
                <i class="fas fa-long-arrow-alt-left"></i>
              </span>
              <span class="owl-nav-next">
                <i class="fas fa-long-arrow-alt-right"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <h3>Search bar</h3>
        <h3>Topic</h3>
        <h3>Tags</h3>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="foot-detail">
      <div class="about-us">
        <h2>Abous Us</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod rem
          iste facere. Perspiciatis nobis omnis voluptas modi hic magni
          doloribus.
        </p>
      </div>
      <div class="newsletter">
        <h2>Newsletter</h2>
        <p>Stay updated with our latest post</p>
        <form class="news-form-footer" action="" method="POST">
          <input type="text" placeholder="Email" />
          <button type="submit">
            <i class="fas fa-chevron-right"></i>
          </button>
        </form>
      </div>
      <div class="instagram">
        <h2>Instagram</h2>
        <div class="flex-row">
          <img src="/img/rand10.jpg" alt="footer1" />
          <img src="/img/rand5.jpg" alt="footer2" />
          <img src="/img/rand7.jpg" alt="footer3" />
        </div>
        <div class="flex-row">
          <img src="/img/rand2.jpg" alt="footer4" />
          <img src="/img/rand6.jpg" alt="footer5" />
          <img src="/img/rand4.jpg" alt="footer6" />
        </div>
      </div>
      <div class="follow">
        <h2>Follow Us</h2>
        <p>Let us be social</p>
        <div>
          <i class="fab fa-facebook fa-2x"></i>
          <i class="fab fa-twitter fa-2x"></i>
          <i class="fab fa-instagram fa-2x"></i>
          <i class="fab fa-youtube fa-2x"></i>
        </div>
      </div>
    </div>
    <div class="rights flex-row">
      <h6>
        Copyright ©2021 All rights reserved | Made with 💖 by
        <a href="https://github.com/boomshakar" target="_black"
          ><.boomShakaR! <i class="fab fa-github"></i
        ></a>
      </h6>
    </div>
    <div class="move-up">
      <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
  </footer>
</main>
